@font-face {
  font-family: "AvenirNext-Heavy";
  src: url("/assets/fonts/AvenirNext-Heavy.otf") format("opentype"); }

@font-face {
  font-family: "AvenirNext-Bold";
  src: url("/assets/fonts/AvenirNext-Bold.otf") format("opentype"); }

@font-face {
  font-family: "AvenirNext-UltraLight";
  src: url("/assets/fonts/AvenirNext-UltraLight.otf") format("opentype"); }

@font-face {
  font-family: "AvenirNext-Medium";
  src: url("/assets/fonts/AvenirNext-Medium.otf") format("opentype"); }

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("/assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "AvenirNext-Demi";
  src: url("/assets/fonts/AvenirNext-Demi.otf") format("opentype"); }

@font-face {
  font-family: "AvenirNext-Regular";
  src: url("/assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

h1 {
  font-size: 60px;
  font-size: 3.75rem;
  font-family: "AvenirNext-Bold", sans-serif;
  font-style: normal;
  font-weight: normal; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "AvenirNext-Demi", sans-serif;
  font-style: normal;
  font-weight: normal; }

html {
  background: #f4f5f9; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AvenirNext-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  min-height: 100vh; }

label {
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "AvenirNext-Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  text-align: left !important; }

hr {
  border: 1px solid #eee;
  margin: 50px 0; }

input {
  display: block;
  padding: 12px 20px;
  width: calc(100% - 40px);
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "AvenirNext-Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #7166e0;
  box-shadow: 0 12px 114px 0 rgba(31, 45, 84, 0.11);
  border: none;
  border-radius: 0.2em;
  margin: 10px 0;
  letter-spacing: 1.4px; }
  input:focus, input:active {
    outline: none; }

.input-wrapper {
  position: relative; }
  .input-wrapper img {
    position: absolute;
    content: '';
    display: block;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 30px; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

button {
  padding: 15px 30px;
  background: linear-gradient(180deg, #ff7861, #ff8570);
  text-transform: uppercase;
  letter-spacing: 1.6px;
  border-radius: 30px;
  font-size: 13px;
  font-size: 0.8125rem;
  font-family: "AvenirNext-Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFF;
  margin: 25px 0; }
  button:focus, button:active {
    outline: none; }

.player-info {
  text-align: left;
  background: #FFF;
  box-shadow: 0 12px 114px 0 rgba(31, 45, 84, 0.11);
  padding: 30px; }
  .player-info .purple {
    color: #fa7471; }

.ether-box {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #FFF;
  overflow: hidden; }

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #fa7471;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear; }

.wave.three {
  animation: drift 5000ms infinite linear; }

.wave.two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow; }

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ca73a6;
  z-index: 11;
  transform: translate3d(0, 0, 0); }

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "AvenirNext-Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .4em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: .3em; }

@keyframes drift {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }
